<h2>New Meeting</h2>



<%= form_with scope: :meeting, url: meetings_path,  local: true do |form| %>  <p>
    <%= form.label :purpose %><br>
    <%= form.text_field :purpose %>
  </p>
 
  <p>
    <%= form.label :date %><br>
    <%= form.text_field :date, :id=>'datepicker' %>
  </p> 

  <p>
    <%#= form.label :time %><br>
    <%#= form.text_field :time, :class=> 'timepicker' %>
  </p> 
  <input id="basicExample" type="text" class="timepicker">


<div class='input-append bootstrap-timepicker-component' style='display: inline;'>
  <input class='dateselect-time input-small timepicker' type='text' data-time='12:45 PM'>
  <span class='add-on'><i class='icon-time'></i></span>
</div> 







  <p>
    <%= form.submit %>
  </p>

<% end %>  

<script type="text/javascript">
  // $('.timepicker').timepicker(alert('vfdvfv'))
  //   .on('changeTime', function(ev) {
  //     alert('time has changed');
  //     })

  $('.timepicker').timepicker().on('show.timepicker', function(e) {
    console.log('The time is ' + e.time.value);
    console.log('The hour is ' + e.time.hours);
    console.log('The minute is ' + e.time.minutes);
    console.log('The meridian is ' + e.time.meridian);
  });

</script>




