<% if current_user.project_manager.present?%>
<h1>Assigned Projects</h1>
 
<table class="table table-striped">
  <tr>
    <th>User Name</th>
    <th>Project Name</th>
    <th colspan="4"></th>
  </tr>
 
  <% @user_project.each do |project| %>
    <tr>
      <td><%= project.user.email %></td>
      <td><%= project.project.project_name %></td>
     
      
      <td><%= link_to 'Show', user_project_path(project) %></td>
      <td><%= link_to 'Edit', edit_user_project_path(project) %></td>
      <td><%= link_to 'Destroy', user_project_path(project), method: :delete %></td>
      <td><%= link_to 'Assign Task', new_user_project_assign_task_path(project.user.id,project.project.id) %></td>


    </tr>
  <% end %>
</table>
<% else%>
<%current_user.projects.each do |project| %>
 <p>
  <strong>Project_name:</strong>
  <%= project.project_name %>
</p>
<% end %>
<% end %>

<%= link_to 'Back', root_path %> 

 