<% if current_user.project_manager.present?%>
<h1>Assigned Projects</h1>
 
<table class="table table-striped">
  <tr>
    <th>User Name</th>
    <th>Project Name</th>
    <th colspan="5"></th>
  </tr>
  <% @user_project.each do |b| %>
    <tr>
      <td><%= b.user.email %></td>
      <td><%= b.project.try(:project_name)  %></td>
     
      
      <td><%= link_to 'Show', user_project_path(b) %></td>
      <td><%= link_to 'Edit', edit_user_project_path(b) %></td>
      <td><%= link_to 'Destroy', user_project_path(b), method: :delete %></td>
      <td><%= link_to 'Assign Task', new_user_project_assign_task_path(b.user.id, b.project.id) %></td>
      <td><%= link_to 'Assigned Tasks', assign_tasks_path(project_id: b.project.id, user_id: b.user.id) %></td>




    </tr>
  <% end %>
</table>
<% else%>
  <%current_user.projects.each do |project| %>
    <p>

      <h3>Project_name: <b><%= project.project_name %></b></h3>

      <table class="table table-striped">
      <tr>
        <th> <strong>Task_name: </strong></th>
        <th> <strong>Status: </strong></th>
        <th colspan="3"></th>
      </tr>
      <%current_user.assign_tasks.where(project_id: project.id).each do |assign_task| %>
        <tr> 
          <td><%= assign_task.task.task_name %></td>
          <td><%= link_to "Complete", complete_assign_task_path(id: assign_task.id), method: :post %></td>
        <td> <% if assign_task.completed %>
            Completed
          <% else %>
            Inprocess
          <% end %></td>
        </tr>

      <% end %>
      </table>
      
    </p>
  <% end %>

 

<% end %>

<%= link_to 'Back', root_path %> 

 