<h1>Listing Projects</h1>
 
<table class="table table-striped">
  <tr>
    <th>Project Name</th>
    <th>Description</th>
    <th>Techonology</th>
    <th colspan="4"></th>
  </tr>
 
  <% @project.each do |project| %>
    <tr>
      <td><%= project.project_name %></td>
      <td><%= project.description %></td>
      <td><%= project.technology.technology_name %></td>
      <td><%= link_to 'Show', project_path(project) %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project_path(project), method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Issues', project_project_issues_path(project_id: project.id)%></td>        


    </tr>
  <% end %>
</table>

<%= link_to 'Back', root_path %> 

