<p>
  <strong>Project_name:</strong>
  <%= @project.project_name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Techonology:</strong>
  <%= @project.technology.technology_name %>
</p>

<p>
  <strong>Start_date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End_date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Project_cost:</strong>
  <%= @project.project_cost %>
</p>


<table class="table table-striped">
  <tr>
    <th><h2><b>Tasks</b></h2></th>
    <th colspan="3"></th>
  </tr>

  <% @project.tasks.each do |a| %>
    <tr>
      <td><%= a.task_name %></td>
      <td><%= link_to 'Destroy', project_task_path(@project, a.id), method: :delete %></td>
    

    </tr>
  <% end %>
</table>


<h2>Add a Task:</h2>
<%= form_with(model: [ @project, @project.tasks.build ], local: true) do |form| %>
  <p>
    <%= form.label :task_name %><br>
    <%= form.text_field :task_name %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', projects_path %>