<p>
  <strong>Project_name:</strong>
  <%= @project.project_name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Techonology:</strong>
  <%= @project.technology.technology_name %>
</p>

<p>
  <strong>Start_date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End_date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Project_cost:</strong>
  <%= @project.project_cost %>
</p>

<h2>Tasks</h2>
<% @project.tasks.each do |task| %>
  <p>
    <strong>Task:</strong>
    <%= task.task_name %>
  </p>
 
<% end %>

<h2>Add a Task:</h2>
<%= form_with(model: [ @project, @project.tasks.build ], local: true) do |form| %>
  <p>
    <%= form.label :task_name %><br>
    <%= form.text_field :task_name %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', project_path %>