<%current_user.projects.each do |project| %>
  <p>
		<h3>Project_name: <b><%= project.project_name %></b></h3>
	</p>

  

<%= form_with scope: :timesheet, url: timesheets_path,  local: true do |form| %>  

 
  <p>
    <%= form.label :avatar %><br>
    <%= form.file_field :avatar%>
  </p>  

  <p>
    <%= form.submit %>
  </p>

  <% end %>

<% end %>
